.card {
    z-index: 9;
    background: rgba(245, 245, 245, 0.388);
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
  }
  
.title {
    color: rgb(54, 77, 77);
    font-size: 18px;
  }

h1 {
    color: darkslategrey;
    font-size: 28px;
    padding-bottom: -5px;
  }

p,
.title {
    padding: 5px;
}

a {
    padding: 18px;
    margin-top: 10px;
    color: darkslategrey;
}

img {
  border-radius:50%;
}

.particle {
position: absolute;
 border-radius: 50%;
}

@for $i from 1 through 120 {
@keyframes particle-animation-#{$i} {
  100% {
    transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1vh));
  }
}

.particle:nth-child(#{$i}){
  animation: particle-animation-#{$i} 90s infinite;
  $size: random(4) + 4 + px;
  opacity: calc(random(100) / 100);
  height: $size;
  width: $size;
  animation-delay: -$i * .3s;
  transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1vh));
  // background: hsl(random(360), 70%, 50%);
  background: hsla(0, 100%, 100%, 0.75);
}
}