@keyframes message-frames {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.card {
  z-index: 9;
  background: rgba(245, 245, 245, 0.587);
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  text-align: center;
  animation: message-frames 6s ease 1s forwards;
}

img {
  border-radius: 50%;
  animation: message-frames 6s ease 1s forwards;
}

h1 {
  color: darkslategrey;
  font-size: 28px;
  padding-bottom: -5px;
  animation: message-frames 6s ease 1s forwards;
}

p,
.title {
  padding: 5px;
  animation: message-frames 12s ease 1s forwards;
}

.title {
  color: rgb(54, 77, 77);
  font-size: 18px;
}

i {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  color: darkslategrey;
  font-size: 28px;
  animation: message-frames 15s ease 1s forwards;
}

