
.card {
  z-index: 9;
  background: rgba(245, 245, 245, 0.587);
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  color: darkslategrey;
  font-size: 28px;
  padding-bottom: -5px;
}

p {
  padding: 5px;
}

.title {
  color: rgb(54, 77, 77);
  font-size: 18px;
  padding: 5px;
}

i {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  color: darkslategrey;
  font-size: 28px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.card, 
img,
h1,
p,
.title,
i {
  animation: fade-in 7s ease 1 forwards;
}

