.card {
  z-index: 9;
  background: rgba(245, 245, 245, 0.587);
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  text-align: center;
}

.title {
  color: rgb(54, 77, 77);
  font-size: 18px;
}

h1 {
  color: darkslategrey;
  font-size: 28px;
  padding-bottom: -5px;
}

p,
.title {
  padding: 5px;
}

i {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  color: darkslategrey;
  font-size: 28px;
}

img {
  border-radius: 50%;
}